.gradle/
build/
classes_gen
source_gen
source_gen.caches

**/.mps/workspace.xml
**/.mps/shelf
**/startup.properties

/lib

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
